

.contactinfo a {
    color: white;
    text-decoration: none;
    font-style: italic;
}
.desc ul{
    margin-top: 0px;
}
.floatleft{
    width: 900;
    font-size: 28px;
    float: left;
    line-height: 60px;;
}
.logofloat{
    max-height: 210;
    float: left;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.showgamebreakdown{
    text-decoration: none;
    height: 70px;
    background-image: url("../img/bg.png");
            background-color: rgba(87, 86, 86, 0.35);
            background-blend-mode: multiply;
            background-size: 300%;
    border-radius: 0 0 15px 15px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
    border-radius: 25px 25px 25px 25px;
    width: 680px;;
    font-size: 45px;
    margin-top: 170px;
    float: center;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;

}
html {
    scroll-behavior: smooth;
  }
#showgamebreakdown{
    scroll-behavior: smooth;
}
#gamebreakdown{
    scroll-behavior: smooth;
    display: none;
}
#showgameplaybreakdown{
    scroll-behavior: smooth;
}
#gameplaybreakdown{
    scroll-behavior: smooth;
    display: none;
}
.floatright{
    width: 300;
    float: right;
}
.centerlogos{
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    float: right;
    width: 1200px;
}
.h1{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 500;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  .iterationtitle{
    margin-top: 23px;
    font-family: "futura-pt", sans-serif;
    color: black;
    background-color: #777;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);

    
  }
  .toptitle a{
    border-radius: 5px 5px 5px 5px;
  }

  .iterationtitle h1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .allgameiterations{
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 23px;
    font-family: "futura-pt", sans-serif;
    color: black;
    background-color: #777;
    border-radius: 15px 15px 0px 0px;

  }
  .gamebreakdownback{
    border-radius: 15px 15px 15px 15px;
   }
   .gamebreakdownmargins{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
   }
   
  .gamebreakdownback p{
    margin: 20px;
  }


  iframe{
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
  }
  img{
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
  }
  .banner img{
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
    float: left;
  }
  .halfbreakdownback .allgameiterations{
    border-radius: 15px 15px 0px 0px;
    width: 1400px;
  }
  .allgameiterations h1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  td, th {
    border: 0px solid #dddddd;
    text-align: center;
    padding: 5px;
  }

.contactinfo {
    font-style: italic;
    font-size: 15px;
    float: right;
    text-align: right;
    width: 250px;
    margin-top: 380px;
}

.contactinfomain {
    font-style: italic;
    font-size: 20px;
    float: right;
    text-align: right;
    width: 250px;
    margin-top: -380px;
}

  .topImage {
    border-right: solid 4px black;
  }
.gifs {
    width: 650;
    float: right;
    overflow: hidden;
}
.gifs img{
    width: 650;
    height: 370;
    margin-top: 390;
}

.scrollitemback li{
    font-size: 18px;
    text-align: left;
}

.gamebreakdown .gifs img{
    width: 1400;
    height: 787.5;
    margin-top: -40px;
    float: center;
}
.scrollitemback i{
    font-size: 20px;
}
div.scrollitemback h2{
    font-size: 30px;
}
@media only screen {
    div.scrollitem:hover img{
        animation: scrollitemimg 0.6s 1;
    }
    div.scrollitem img{
        animation: scrollitemimgs 0.6s 1;
        }

    div.toppart h1 b{
        animation: fadehijackson 1s 1;
    }
    div.toppart h1{
        animation: fadehijackson 2s 1;
    }
    div.toppart i{
        animation: fadehijackson 3s 1;
    }

    div.scrollmenu{
        animation: scrollmenuenter 0.3s 1;
    }

    div.scrollitem:hover div.scrollitemback{

        animation: scrollitemhoverback 0.6s 1;
    }

      div.scrollitem div.scrollitemback{
        animation: scrollitemback 0.6s 1;
    }

    div.scrollitem:hover li{
        animation: scrollitemlihover 0.6s 1;
    }

    div.scrollitem:hover i{
        animation: scrollitemhover 0.6s 1;
    }

      div.scrollitem i{
        animation: scrollitem 0.6s 1;
    }

    .infopage{
        animation: fadeintext 3s 1;
    }
    .banner img{
        animation: scrollbanner 1.2s 1;;
    }
      .gifs{
        animation: fadeImage 1s 1;
      }
      .desc{
        animation: filldesc 1s 1;
      }
      .gifs{
        overflow: clip;
      }
      .desc{
        overflow: clip;
      }
      div.scrollmenu{
        overflow: hidden;
    }
    .scrollitem{
        overflow: hidden;
    }
    div.scrollitem:hover img{
        height: 260px;
    }
    div.scrollitem img{
        height: 205px;
        }
        div.scrollitem div.scrollitemback{
            height: 165px;
            background-image: url("../img/bg.png");
            background-color: rgba(87, 86, 86, 0.35);
            background-blend-mode: multiply;
            background-size: 300%;
    border-radius: 0 0 15px 15px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

        }
        div.scrollitem:hover h2{
            animation: fadehoverh2 0.6s 1;
            font-size: 40px;
        }
        div.scrollitem:hover li{
            font-size: 0px;
        }
        div.scrollitem:hover div.scrollitemback{
            height: 125px;
            background-color: rgb(94, 94, 94);
        }
        div.scrollitem:hover i{
            font-size: 18px;
        }
        .slide img:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
}

@keyframes fadehoverh2 {
    from {font-size: 30px}
    to {font-size: 40px}
  }

@keyframes scrollitemimgs {
    from {height: 260px;}
    to {height: 205px;}
  }

@keyframes fadehijackson {
    from {color: rgb(255, 255, 255, 0);}
    to {color: rgb(255, 255, 255, 1);}
  }
@keyframes scrollitemimg {
    from {height: 205px;}
    to {height: 260px;}
  }

@keyframes scrollmenuenter {
    from {height: 0px;}
    to {height: 390px;}
  }


@keyframes scrollitemhoverback {
    from {height: 165px; background-color: rgba(87, 86, 86, 0.35)}
    to {height: 125px; background-color: rgb(94, 94, 94, 1);}
  }



@keyframes scrollitemback {
    from {height: 125px; background-color: rgb(94, 94, 94, 1);}
    to {height: 165px; background-color: rgba(87, 86, 86, 0.35)}
  }

  .scrollmenu img:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}


@keyframes scrollitemlihover {
    from {color: rgb(255, 255, 255, 1);}
    to {color: rgb(255, 255, 255, 0);}
  }
@keyframes scrollitemlioff {
    from {font-size: 20;}
    to {font-size: 0;}
  }


@keyframes scrollitemhover {
    from {font-size: 15px;}
    to {font-size: 18px;}
  }

  div.scrollitem i{
    font-size: 15px;
    line-height: 25px;
}

@keyframes scrollitem {
    from {font-size: 18px;}
    to {font-size: 15px;}
  }

.envirogifs {
    width: 650;
    float: right;
}
.envirogifs img{
    
    width: 650;
    height: 355;
    margin-top: 15;
    
}
.scrollitem img{
    object-fit: cover;
}

@keyframes fadeintext {
    from {opacity: 0;}
    to {opacity: 1;}
  }



@keyframes mymove {
  from {height: 0px;}
  to {height: 205px;}
}
.banner img{
    object-fit: cover;
    height: 200px;
}
@keyframes scrollbanner {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeImage {
    from {right: 500px; opacity: 0; max-height: 200px}
    to {right: 0px; opacity: 1; max-height: 1000px}
  }

  @keyframes filldesc {
    from {max-height: 200px}
    to {max-height: 1000px}
  }
.gifs iframe {
    
    margin-top: 20;
    width: 650;
    height: 370;
    margin-right: 0;
    float: right;
    
}
h1{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.devinfo {
    margin: auto;
    text-align: center;
    font-family: proxima-nova, sans-serif;
font-weight: 100;
font-style: normal;
}
.links{
    font-size: 30;
}
a{
    font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
}
.infopage{
    font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
}
.gamebreakdown h2{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 10px;
    font-size: 26px;
}

.gamebreakdownmargins h2{
    margin-left: -2px;
   }
.topbar h2{
margin-top: 13.920;
padding-bottom: 6.920;
}
.gamebreakdown b{
    font-size: 20px;
    font-family: "futura-pt", sans-serif;
}
#gamesrotation {
    width: 100%;
    height: 420px;
    background-color: #ff0000;

    overflow: visible;
    white-space: nowrap;
}

#gamesrotation .slide {
    display: inline-block;
}

#gamesrotation img {
    width: 280px;
}

h3 {
    margin: 0px;
}
p{
    font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
}
.ndadisclaimer{
    color: rgb(255, 255, 255, 0.5);
    font-size: 12px;
    text-align: center;
}
.infopage h1{
    margin-top: -5px;
    margin-bottom: 15px;
}
.desc {
    padding: 10px;
    background-color:rgba(38, 36, 36, 0.8);
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 15px 15px;
    width: 680px;
    font-size: 20px;
    line-height: 35px;
    margin-top: 20px;
    margin-left: 0px;
    font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
}
.envirodesc {
    padding: 10px;
    background-color:rgba(38, 36, 36, 0.8);
    width: 100%;
    font-size: 21px;
    margin-top: 20px;
    margin-left: 0px;
    font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
}
.gamebreakdown h2{
    font-size: 50px;
}
.gamebreakdown{
    
    
    font-size: 26px;
    margin-top: 20px;
    margin-left: 0px;
    font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
}
.gamebreakdownback{
    background-color:rgba(38, 36, 36, 0.8);
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    width: 1400px;
}

.halfbreakdownback{
    
    width: 1400px;
}

.halfbreakdowntext{
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 0 0 15px 15px;
    background-color:rgba(38, 36, 36, 0.8);
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    width: 1400px;
    margin-bottom: -15px;
}

.desc ul {
    color: white;
}
.gamebreakdown .gifs{
    padding: 0px;
    margin-top: 0px;
    width: 1400px;
    height: 787.5px;
    margin-left: 0px;
}
.gamebreakdown .gifs iframe{
    .gifs iframe {
        width: 150;
        height: 0;
        float: right;
    }
}
.desc img {
    width: 100px;
    height: 100px;
}

.topbar {
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 0px 0px;
}

.blockquote {
    float: left;
}

.castillolinks ul {
    background-color: transparent;
}

blockquote {
    width: 300px;
}

.castillolinks ul li {
    float: left;

    margin-right: 5%;
}

.castillolinks ul li.right {
    margin-right: 0;
}

.header p {
    text-decoration: none;
    font-style: normal;
    text-align: center;
    font-size: 20px;

}

.topbar a {
    position: absolute;
    right: 10;
    top: 30;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(91, 91, 91, 0.8);
    background-blend-mode: multiply;
    text-align: center;
    width: 160px;
    margin-top: 5px;
}

.Contact a {
    position: absolute;
    right: 10;
    top: 30;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(91, 91, 91, 0.8);
    background-blend-mode: multiply;
    text-align: center;
    width: 160px;
    margin-top: 35px;
}

.toptitle {
    color: white;
    width: 500px;
}


.toptitle h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: -20px;
    margin-left: 20px;
    font-family: "futura-pt", sans-serif;
font-weight: 100;
font-style: normal;
}

.toptitle h2 {
    margin-left: 140px;
    font-family: "futura-pt", sans-serif;
font-weight: 100;
font-style: normal;
}


.toptitle img {
    width: 100;
    height: 70;
    float: right;
}

.projinterrupt {
    float: left;
    margin-left: 200px;
}

.projects {
    text-align: center;
    margin-top: -20;
    float: center;
    color: grey;
}

.projects a {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    float: middle;
    margin-left: 500px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

body {
    width: 1400px;
    margin: auto;
    backdrop-filter: blur(25px);
}

.leftbox {
    margin-left: 150px;
    width: 300px;
    float: left;
}

.midbox {
    width: 300px;
    float: left;
    margin-left: 100px;
}



.rightbox {
    margin-right: 150px;
    width: 300px;
    float: right;
}

.moreinfo {
    margin-bottom: 300px;
    font-size: 20px;
}

.persdesc {
    margin-top: 50px;
    font-size: 25px;
}

.infopage {
    width: 1300px;
    text-align: left;
    font-size: 23px;
    font-style: normal;

    float: center;
    margin: auto;
    padding: 15px;
    padding-top: 0px;

    font-family: proxima-nova, sans-serif;
font-weight: 100;
font-style: normal;


}


.ytdesc {
    float: right;
    color: white;
    width: 300px;
    font-size: 20px;
    margin-right: 300px;
}

.ytvid {
    margin-left: 200px;
    width: 600px;
    float: left;
}

.splitproj {
    margin-left: 70px;
}

.projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(91, 91, 91, 0.8);
    background-blend-mode: multiply;
    border-radius: 0px 0px 15px 15px ;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    
}
div.scrollitemback{
    border-radius: 0px 0px 15px 15px;
}

div.scrollitem img{
    border-radius:  15px 15px 0px 0px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    position:relative;
    z-index:-999;

}
.projects li {
    float: left;
}

.projects li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; 
    animation: scrolldown 1s 1;
}
div.toppart{
    background-image: url("../img/bannerback.png");
    border-radius: 15px 15px 15px 15px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; 
  animation: scrolldown 1s 1;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    height: 150px;
}
@keyframes scrolldown {
    from {  background-position: center; }
    to {  background-position: top; }
  }
div.enviroscrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    height: 510px;
}
div.scrollitem h2 {
    margin-top: -10px;
    margin-bottom: -20px;
}
div.scrollitem ul {
    margin-top: 5px;
    line-height: 30px;
}
div.scrollmenu img {
    width: 330;
}

div.scrollitem {
    
    text-align: center;
    width: 340;
    height: 375px;

    
}

div.scrollitemwide {
    
    text-align: center;
    width: 680;
    height: 175px;

    
}

div.scrollitemback{
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
}
div.scrollitem li{
    padding-right: 10px;
    
}

div.enviroscrollmenu img {
    
    width: 720px;
    height: 486px;
}

div.scrollmenu a {

    display: inline-block;
    color: white;
    text-decoration: none;
}


li a:hover {
    background-color: #111111;
}
.banner{
    margin-top: 10px;
    width: 500px;
}
.banner img {
    max-height: 210px;
    margin-left: 20px;
    margin-top: 25px;
    float: left;
}


body {
    box-sizing: border-box;
  }


  @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .scrollitem, .scrollitem img {
      width: 100%; /* Adjust this as necessary */
      max-width: 100%; /* Ensure images do not overflow */
    }
  }

  .scrollmenu {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping onto the next line */
    overflow-x: auto; /* Allows horizontal scrolling if necessary */
  }
  
  .scrollitem {
    flex: 0 0 auto; /* Prevents flex items from growing or shrinking */
  }
  
  .scrollitem img {
    width: 100%; /* Makes image responsive within its container */
    max-width: 100%; /* Ensures image does not overflow its container */
  }

  .Contact a, .Resume a {
    position: fixed; /* Change from absolute to fixed */
    right: 20px; /* Adjusted to 20px from the right edge for some spacing */
    top: 30px; /* Keep as is or adjust to your liking */
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(91, 91, 91, 0.8);
    background-blend-mode: multiply;
    text-align: center;
    width: 160px;
    padding: 1px 0; /* Add padding for better visual */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

@media (orientation:portrait) {

}

.allgameiterations h2{
    border-radius: 15px 15px 15px 15px;
    font-size: 120px;
    
  }