h1 {
	color: #007c91;
}

body {
	color: #008ba3;
	background: #81b9bf;
	font-family: Arial, Helvetica, sans-serif;
}

.gameWindow {
	background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

@media (min-width:1784px) {
	.windowParent {
		background: #81b9bf;
		float: left;
		padding-bottom: 30px;
		padding-right: 30px;
	}
	.worldSettings {
		outline-style: bold;
		text-align: center;
		min-width: 300px;
	}
	.leftfl {
		margin-right: 30px;
		float: right;
	}
	.rightfl {
		margin-left: 30px;
		float: left;
	}
	a {
		color: #004d40;
	}
	.info {
		padding: 10px;
		text-align: center;
	}
	.rightSide {
		height: 765px;
		float: center;
		background: #80deea;
	}
	.controls {
		color: #006978;
		background: #81b9bf;
		float: left;
		padding: 50px;
		padding-top: 10px;
		max-width: 1082px;
		font-size: 20px;
		border-color: black;
	}
}

@media (max-width:1784px) {
	.windowParent {
		display: block;
		width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}
	.rightSide {
		width: 1150px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		height: 765px;
		float: center;
		background: #80deea;
	}
	.controls {
		color: #006978;
		background: #81b9bf;
		float: left;
		padding: 50px;
		padding-top: 10px;
		font-size: 20px;
		border-color: black;
	}
}


}